/**
 * @desc adds a light shadow and on hover, move the element up
 */
.effect-1,
%effect-1 {
	box-shadow: $box-shadow-sm;
	transition: all .3s ease;
	&:hover,
	&:active {
		box-shadow: $box-shadow;
		transform: translateY(-2px);
	}
}

.horizontal-scroll {
	@include horizontal-scroll();
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.centered-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.rt-1 {
	position: relative;
	top: .25rem;
}
