.t-size-xxl {
	font-size: 18rem;
	position: relative;
	left: -1rem;
}

.special-heading {
	position: relative;
	&__title {
		@extend .t-size-xxl;
	}

	&__sub {
		position: absolute;
		top: 1rem;
	}
}

@mixin open-iconic() {
	font-family: "open-iconic";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	speak: none;
	text-decoration: none;
	text-transform: none;
}

%oi {
	@include open-iconic();
}
