/** COLORS */
$gold: #ffc600;
$g5: #373737;
$ash: #e7e7e7;
$green: #389a6e;
$turquoise: #87ced3;
$black: #000;
$white: #fff;
$g1: #f7f7f7;
$g2: #d7d7d7;
$g3: #9d9d9d;
$g4: #7d7d7d;
$g6: #4a4a4a;

$link-color: $black;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px);

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

/** merge with bootstrap colors */
$colors: ();
$colors: map-merge(

	(
		"gold": $gold,
		"g5": $g5,
		"ash": $ash,
		"green": $green,
		"turquoise" : $turquoise,
		"g1": $g1,
		"g2": $g2,
		"g3": $g3,
		"g4": $g4,
		"g6": $g6,
		"white": $white,
		"black": $black
	),
	$colors
);

$primary: $green;
$secondary: $gold;
$tertiary: $ash;
$success: $green;
$dark: $g5;

@each $color, $value in $colors {
	.color-#{$color} {
		color: $value;
	}
}

$theme-colors: ();
$theme-colors: map-merge(('tertiary': $tertiary), $theme-colors);

/** SHADOW */
// $shadow_regular: 2px 2px 9px rgba(0, 0, 0, 0.07); deprecated in favour of bootstrap4 shadow class

/** FONTS */
$font-family-base: 'lato';
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.375;
$h2-font-size: $font-size-base * 1.625;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * .875;
$h6-font-size: $font-size-base * .75;

/** SPACING **/

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(

	(
		0: 0,
		1: ($spacer * .25),
		1-half: ($spacer * .375),
		2: ($spacer * .5),
		3: $spacer,
		4: ($spacer * 1.5),
		5: ($spacer * 3)
	),
	$spacers
);

/** BORDER RADIUS */

$border-radius: 7px;
