@import 'base/variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@each $value in $colors {
	.color-#{nth($value, 1)},
	%color-#{nth($value, 1)} {
		color: #{nth($value, 2)};
	}

	.bg-color-#{nth($value, 1)},
	%bg-color-#{nth($value, 1)} {
		background-color: #{nth($value, 2)};
	}
}

// import utilities
@import './utilities/horizontal-scroll';
@import './utilities/clamp';

// import base
@import './base/helper';
@import './base/typography';

// import component
@import './component/list';
@import './component/box';
@import './component/button';
@import './component/site-header';
@import './component/pagination';
@import './component/form';

.ico-bytesize {
	stroke-width: 1px;
}
