ul.list-inline
  li.list-inline-item
    a(class="btn btn-dark", href=urlPath + "/index.html") Home
  li.list-inline-item
    a(class="btn btn-dark", href=urlPath + "/page/colors.html") Colors
  li.list-inline-item
    a(class="btn btn-dark", href=urlPath + "/page/typography.html") Typography
  li.list-inline-item
    a(class="btn btn-dark", href=urlPath + "/page/buttons.html") Buttons
  li.list-inline-item
    a(class="btn btn-dark", href=urlPath + "/page/icons.html") Icons