.js-is-sticky.mb-3
  .site-header
    .row
      .col.align-self-center
        .site-logo
          a(href="", title="home")
            img(src=assetPath + "img/icon/m2u-logo.png")
      .col
        nav.site-nav
          ul.nav.justify-content-end.align-items-center
            li.nav-item.d-none.d-sm-block
              a(href="", title="about us")
                button(type="button", class="btn btn-link addons addons--reverse")
                  img(src=assetPath + "img/icon/maybank.svg", alt="maybank")
                  span.label About Us
            li.nav-item.d-none.d-sm-block
              a(href="", title="login")
                button(type="button", class="btn btn-link addons addons--reverse")
                  i(data-feather="lock")
                  span.label Login
            li.nav-item.align-self-center.d-none.d-sm-block
              a(href="", title="search")
                i(data-feather="search", class="pt-1-half")
            li.nav-item.align-self-center
              a(href="", title="menu")
                i(data-feather="menu", class="pt-1-half")