extends _template/main.pug

block append variables
  - var bodyClass = 'bg-color-gold'

block content
  .container
    .centered-vertical
      div.special-heading
        p.special-heading__sub.color-white WEB DESIGN LANGUAGE
        h1.special-heading__title UI KIT
      ul.list-inline
        li.list-inline-item
          a(class="btn btn-dark", href=urlPath + "/page/colors.html") Colors
        li.list-inline-item
          a(class="btn btn-dark", href=urlPath + "/page/typography.html") Typography
        li.list-inline-item
          a(class="btn btn-dark", href=urlPath + "/page/buttons.html") Buttons
        li.list-inline-item
          a(class="btn btn-dark", href=urlPath + "/page/icons.html") Icons
