extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-white';
  - 
    var blockBtns = [
      { class: 'btn-primary', label: 'Button Primary'}, 
      { class: 'btn-secondary', label: 'Button Secondary'},
      { class: 'btn-tertiary', label: 'Button Tertiary'},
      { class: 'btn-success', label: 'Button Success'},
      { class: 'btn-dark', label: 'Button Dark'},
    ];

    var outlineBtns = [
      { class: 'btn-outline-primary', label: 'Button'}, 
      { class: 'btn-outline-secondary', label: 'Button Outline Secondary'},
      { class: 'btn-outline-tertiary', label: 'Button Outline Tertiary'},
      { class: 'btn-outline-success', label: 'Button Outline Success'},
      { class: 'btn-outline-dark', label: 'Button Outline Dark'},
    ];

    var iconBtns = [
      { class: 'btn-primary addons', label: 'Button'}, 
      { class: 'btn-primary addons', label: 'Button'}, 
      { class: 'btn-secondary addons', label: 'Button'},
      { class: 'btn-tertiary addons', label: 'Button'},
      { class: 'btn-outline-success addons', label: 'Button'},
      { class: 'btn-outline-dark addons', label: 'Button'},
    ];

    var iconFixedBtns = [
      { class: 'btn-primary addons addons--fixed', label: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'}, 
      { class: 'btn-secondary addons addons--fixed', label: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
      { class: 'btn-tertiary addons addons--fixed', label: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
      { class: 'btn-outline-success addons addons--fixed', label: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
      { class: 'btn-outline-dark addons addons--fixed', label: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
    ];

    var iconSizeBtns = [
      { class: 'btn btn-primary addons ico-sm', label: 'Button (S)'},
      { class: 'btn btn-primary addons ico-m', label: 'Button (M)'},
      { class: 'btn btn-primary addons ico-lg', label: 'Button (L)'},
    ];

    var sizeBtns = [
      { class: 'btn btn-outline-primary btn-sm', label: 'Button (S)'},
      { class: 'btn btn-outline-primary', label: 'Button (M)'},
      { class: 'btn btn-outline-primary btn-lg', label: 'Button (L)'},
    ];

    var bothSizeBtns = [
      { class: 'btn btn-primary btn-sm addons ico-sm', label: 'Button (S)'},
      { class: 'btn btn-primary addons ico-m', label: 'Button (M)'},
      { class: 'btn btn-primary btn-lg addons ico-lg', label: 'Button (L)'},
    ];

    var stateBtns = [
      { class: 'btn-primary', label: 'Default'}, 
      { class: 'btn-primary active', label: 'Active'},
      { class: 'btn-primary disabled', label: 'Disabled'},
      { class: 'btn-outline-primary', label: 'Default'}, 
      { class: 'btn-outline-primary active', label: 'Active'},
      { class: 'btn-outline-primary disabled', label: 'Disabled'}
    ]

    var textBtns = [
      { class: 'btn btn-link btn-sm addons', label: 'Text Buttons Small'},
      { class: 'btn btn-link addons', label: 'Text Buttons Medium (default)'},
      { class: 'btn btn-link btn-lg addons', label: 'Text Buttons Large'},
    ]

block header
  include ../_component/site-header.pug

block content
  .container
    include ../_component/nav.pug
    h1 Buttons
    hr
  .container
    div.py-3
      h2 Inline Block Buttons (default)
      each btn in blockBtns
        div.d-inline-block.my-2
          button(type="button", class="btn " + btn.class)
            =btn.label

    div.py-3
      h2 Outline Button
      each btn in outlineBtns
        div.d-inline-block.my-2
          button(type="button", class="btn " + btn.class)
            =btn.label

    div.py-3
      h2 Block Buttons
      each btn in blockBtns
        button(type="button", class="btn btn-block " + btn.class)
          =btn.label

    div.py-3
      h2 Block Buttons with icons
      each btn in blockBtns
        button(type="button", class="btn btn-block addons " + btn.class)
          span.label
            =btn.label
          i(data-feather="arrow-right")

    div.py-3
      h2 Button with Icons
      each btn in iconBtns
        div.d-inline-block.my-2
          button(type="button", class="btn " + btn.class)
            span.label
              =btn.label
            i(data-feather="arrow-right")

    div.py-3
      h2 Button with Icons (fixed sizes)
      each btn in iconFixedBtns
        div.d-inline-block.my-2
          button(type="button", class="btn " + btn.class)
            span.label
              =btn.label
            i(data-feather="arrow-right")
    div.py-3
      h2 Button with Icons (fixed sizes) multiline (max 2 line)
      each btn in iconFixedBtns
        div.d-inline-block.my-2
          button(type="button", class="btn " + btn.class)
            span.label.line-2
              =btn.label
            i(data-feather="arrow-right")

    div.py-3
      h2 Sizes for the buttons
      div.py-2
        each btn in sizeBtns
          div.d-inline-block.my-2
            button(type="button", class="btn " + btn.class)
              =btn.label
    div.py-3
      h2 Sizes for the icons within the button
      each btn in iconSizeBtns
        div.d-inline-block.my-2
          button(type="button", class="btn " + btn.class)
            span.label
              =btn.label
            i(data-feather="arrow-right")
    div.py-3
      h2 Sizes for the both icons and buttons
      div.py-2
        each btn in bothSizeBtns
          div.d-inline-block.my-2
            button(type="button", class="btn " + btn.class)
              span.label
                =btn.label
              i(data-feather="arrow-right")
    div.py-3
      h2 Button States
      div.py-2
        each btn in stateBtns
          div.d-inline-block.my-2
            button(type="button", class="btn " + btn.class)
              =btn.label
    div.py-3
      h2 Text Buttons
      div.py-2
        each btn in textBtns
          div.d-inline-block.my-2
            button(type="button", class="btn " + btn.class)
              span.label
                =btn.label
              i(data-feather="arrow-right", class="color-gold")
      h2 Text Buttons with a tag
      div.py-2
        each btn in textBtns
          div.d-inline-block.my-2
            a(class="btn " + btn.class, href="/")
              span.label
                =btn.label
              i(data-feather="arrow-right", class="color-gold")