extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-ash'

block header
  include ../_component/site-header.pug
  
block content
  .container.py-3
    include ../_component/nav.pug
    section.py-3
      h4 Primary Colors
      br
      ul.list-inline
        li.list-inline-item.py-2
          div.box--color
            div.color__shape.bg-color-gold
              .color__name Gold
            div.color__code #ffc107
        li.list-inline-item.py-2
          div.box--color
            div.color__shape.bg-color-g5
              .color__name G5
            div.color__code #373737
        li.list-inline-item.py-2
          div.box--color
            div.color__shape.bg-color-ash
              .color__name.color-g4 Ash
            div.color__code #e7e7e7
    section.py-3
      h4 Secondary Colors
      br
      .row
        .col-sm
          ul.list-inline
            li.list-inline-item.py-2
              div.box--color
                div.color__shape.bg-color-green
                  .color__name Green
                div.color__code #389a6e
            li.list-inline-item.py-2
              div.box--color
                div.color__shape.bg-color-turquoise
                  .color__name Turquoise
                div.color__code #87ced3
        div(class="col-sm horizontal-scroll@max-sm")
          ul.list-compact
            li.list-compact-item
              div.box--color.box--small
                div.color__shape.bg-color-g4
                  .color__name G4
                div.color__code #7D7D7D
            li.list-compact-item
              div.box--color.box--small
                div.color__shape.bg-color-g3
                  .color__name G3
                div.color__code #9D9D9D
            li.list-compact-item
              div.box--color.box--small
                div.color__shape.bg-color-g2
                  .color__name G2
                div.color__code #d7d7d7
            li.list-compact-item
              div.box--color.box--small
                div.color__shape.bg-color-g1
                  .color__name.color-g4 G1
                div.color__code #f7f7f7
            li.list-compact-item
              div.box--color.box--small
                div.color__shape.bg-color-white
                  .color__name.color-g4 White
                div.color__code #fffff
      

          