extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-gold';

block header
  include ../_component/site-header.pug

block content
  .container
    h1 Forms
    hr
    h3 Form Input
    form.no-flexbox
      .form-group
        .field
          input#userEmail.form-control(type='email' aria-describedby='emailHelp', placeholder="Email Address", required)
          label(for='userEmail', class="form-control-placeholder")
            span Email address
        small#emailHelp.form-text.color-black.mt-1 We&apos;ll never share your email with anyone else.
      .form-group
        .field
          input#userPassword.form-control(type='password' aria-describedby='passwordHelp', placeholder='Password', required)
          label(for='userPassword', class="form-control-placeholder") 
            span Password
        small#passwordHelp.form-text.color-black.mt-1 Make sure your password is hard to guess.
      .form-check
        input#exampleCheck1.form-check-input(type='checkbox')
        label.form-check-label(for='exampleCheck1') Check me out
      button.btn.btn-primary(type='submit') Submit
