extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-g1';

block header
  include ../_component/site-header.pug

block content
  .site-second-header.py-3
    .d-flex.align-items-center.justify-content-between.px-3
      div
        .d-none.d-sm-block
          a(href="", class="btn btn-outline-light addons addons--reverse")
            i(data-feather="arrow-left")
            span.label Back
        .d-block.d-sm-none
          a(href="", class="btn btn-link btn-sm")
            i(data-feather="arrow-left", class="color-white")
        
      div
        a(href="", class="btn btn-primary w-125")
          span.label.px-4 Contact Us