extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-gold';
  -
    var iconBtns = [
      {class: 'btn btn-circle', label: 'Login Internet Banking', icon: '<i data-feather="log-in" stroke-width="1.5"></i>'},
      {class: 'btn btn-circle', label: 'Saving', icon: '<i data-feather="briefcase" stroke-width="1.5"></i>'},
      {class: 'btn btn-circle', label: 'Credit Card', icon: '<svg id="i-creditcard" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"> <path d="M2 7 L2 25 30 25 30 7 Z M5 18 L9 18 M5 21 L11 21" /> <path d="M2 11 L2 13 30 13 30 11 Z" fill="currentColor" /></svg>'},
      {class: 'btn btn-circle', label: 'Caret Top', icon: '<svg id="i-caret-top" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M30 22 L16 6 2 22 Z" /></svg>'},
      {class: 'btn btn-circle', label: 'Maybank', icon: '<img class="img-fluid" src='+ assetPath + 'img/icon/maybank.svg>'},
      {class: 'btn btn-circle', label: 'twitter', icon: '<svg id="i-twitter" viewBox="0 0 64 64" width="32" height="32"> <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z" /></svg>'},
      {class: 'btn btn-circle', label: 'Savings', icon: '<svg viewBox="0 0 432 432"> <path d="M392 44H40C17.944 44 0 61.944 0 84v240c0 19.316 13.764 35.479 32 39.195V372c0 8.822 7.178 16 16 16h16c8.822 0 16-7.178 16-16v-8h272v8c0 8.822 7.178 16 16 16h16c8.822 0 16-7.178 16-16v-8.805c18.236-3.716 32-19.878 32-39.195V84c0-22.056-17.944-40-40-40zM64 372H48v-8h16v8zm304 0v-8h16v8h-16zm48-48c0 13.233-10.766 24-24 24H40c-13.234 0-24-10.767-24-24V84c0-13.233 10.766-24 24-24h352c13.234 0 24 10.767 24 24v240z"/> <path d="M392 76H40a8 8 0 0 0-8 8v240a8 8 0 0 0 8 8h352a8 8 0 0 0 8-8v-40a8 8 0 0 0-16 0v32H48V92h336v32a8 8 0 0 0 16 0V84a8 8 0 0 0-8-8z"/> <path d="M392 148a8 8 0 0 0-8 8v96a8 8 0 0 0 16 0v-96a8 8 0 0 0-8-8zM96 212c0 30.879 25.122 56 56 56s56-25.121 56-56-25.122-56-56-56-56 25.121-56 56zm96 0c0 22.056-17.944 40-40 40s-40-17.944-40-40 17.944-40 40-40 40 17.944 40 40z"/> <path d="M141.496 190.417C133.297 194.412 128 202.884 128 212c0 13.233 10.767 24 24 24 9.83 0 18.564-5.887 22.252-14.998a7.999 7.999 0 0 0-4.414-10.417 8 8 0 0 0-10.417 4.413A7.972 7.972 0 0 1 152 220c-4.411 0-8-3.589-8-8a7.956 7.956 0 0 1 4.505-7.2 8 8 0 0 0 3.687-10.696 7.999 7.999 0 0 0-10.696-3.687zM64 156v112a8 8 0 0 0 16 0V156a8 8 0 0 0-16 0z"/> </svg>'},
      {class: 'btn btn-circle', label: 'Github', icon: '<svg id="i-github" viewBox="0 0 64 64" width="32" height="32"> <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" /> </svg>'},
      {class: 'btn btn-circle', label: 'Login Internet Banking', icon: '<i data-feather="log-in" stroke-width="1.5"></i>'},
      {class: 'btn btn-circle', label: 'Saving', icon: '<i data-feather="briefcase" stroke-width="1.5"></i>'},
      {class: 'btn btn-circle', label: 'Credit Card', icon: '<svg id="i-creditcard" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"> <path d="M2 7 L2 25 30 25 30 7 Z M5 18 L9 18 M5 21 L11 21" /> <path d="M2 11 L2 13 30 13 30 11 Z" fill="currentColor" /></svg>'},
      {class: 'btn btn-circle', label: 'Caret Top', icon: '<svg id="i-caret-top" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M30 22 L16 6 2 22 Z" /></svg>'},
      {class: 'btn btn-circle', label: 'Maybank', icon: '<img class="img-fluid" src='+ assetPath + 'img/icon/maybank.svg>'},
      {class: 'btn btn-circle', label: 'twitter', icon: '<svg id="i-twitter" viewBox="0 0 64 64" width="32" height="32"> <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z" /></svg>'},
      {class: 'btn btn-circle', label: 'Savings', icon: '<svg viewBox="0 0 432 432"> <path d="M392 44H40C17.944 44 0 61.944 0 84v240c0 19.316 13.764 35.479 32 39.195V372c0 8.822 7.178 16 16 16h16c8.822 0 16-7.178 16-16v-8h272v8c0 8.822 7.178 16 16 16h16c8.822 0 16-7.178 16-16v-8.805c18.236-3.716 32-19.878 32-39.195V84c0-22.056-17.944-40-40-40zM64 372H48v-8h16v8zm304 0v-8h16v8h-16zm48-48c0 13.233-10.766 24-24 24H40c-13.234 0-24-10.767-24-24V84c0-13.233 10.766-24 24-24h352c13.234 0 24 10.767 24 24v240z"/> <path d="M392 76H40a8 8 0 0 0-8 8v240a8 8 0 0 0 8 8h352a8 8 0 0 0 8-8v-40a8 8 0 0 0-16 0v32H48V92h336v32a8 8 0 0 0 16 0V84a8 8 0 0 0-8-8z"/> <path d="M392 148a8 8 0 0 0-8 8v96a8 8 0 0 0 16 0v-96a8 8 0 0 0-8-8zM96 212c0 30.879 25.122 56 56 56s56-25.121 56-56-25.122-56-56-56-56 25.121-56 56zm96 0c0 22.056-17.944 40-40 40s-40-17.944-40-40 17.944-40 40-40 40 17.944 40 40z"/> <path d="M141.496 190.417C133.297 194.412 128 202.884 128 212c0 13.233 10.767 24 24 24 9.83 0 18.564-5.887 22.252-14.998a7.999 7.999 0 0 0-4.414-10.417 8 8 0 0 0-10.417 4.413A7.972 7.972 0 0 1 152 220c-4.411 0-8-3.589-8-8a7.956 7.956 0 0 1 4.505-7.2 8 8 0 0 0 3.687-10.696 7.999 7.999 0 0 0-10.696-3.687zM64 156v112a8 8 0 0 0 16 0V156a8 8 0 0 0-16 0z"/> </svg>'},
      {class: 'btn btn-circle', label: 'Github', icon: '<svg id="i-github" viewBox="0 0 64 64" width="32" height="32"> <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" /> </svg>'},
    ];

block header
  include ../_component/site-header.pug
  
block content
  .container
    include ../_component/nav.pug
  .container
    h2 Icon as Buttons
    .row.justify-content-between.justify-content-sm-start
      each btn in iconBtns
        - var x = btn.class;
        div.p-3
          a(href="", class="chat-btn")
            button(type="button", class="btn " + btn.class, title=btn.label)
              .centered !{btn.icon}
            .label
              =btn.label
    h2 Icon sizes
    div.py-3
      div.d-inline-block.px-3
        i(data-feather="log-in", class="ico-sm")
      div.d-inline-block.px-3
        i(data-feather="log-in", class="ico-md")
      div.d-inline-block.px-3
        i(data-feather="log-in", class="ico-lg")
    div.py-3
      div.d-inline-block.px-3
        i(data-feather="github", class="ico-sm")
      div.d-inline-block.px-3
        i(data-feather="github", class="ico-md")
      div.d-inline-block.px-3
        i(data-feather="github", class="ico-lg")