extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-g1';

block header
  include ../_component/site-header.pug

block content
  .container
    h1 Pagination
    hr
    h3 Default
    br
    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item.page-item-nav
          a.page-link(href='#' aria-label='Previous')
            .d-flex.align-items-center
              i(data-feather="chevron-left", class="ico-sm")
              span.pl-2.d-none.d-sm-block Previous
        li.page-item
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') ...
        li.page-item.page-item-nav
          a.page-link(href='#' aria-label='Next')
            .d-flex.align-items-center
              span.pr-2.d-none.d-sm-block Next
              i(data-feather="chevron-right", class="ico-sm")
    h3 one of the page is active
    br
    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item.page-item-nav
          a.page-link(href='#' aria-label='Previous')
            .d-flex.align-items-center
              i(data-feather="chevron-left", class="ico-sm")
              span.pl-2.d-none.d-sm-block Previous
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') ...
        li.page-item.page-item-nav
          a.page-link(href='#' aria-label='Next')
            .d-flex.align-items-center
              span.pr-2.d-none.d-sm-block Next
              i(data-feather="chevron-right", class="ico-sm")