extends ../_template/main.pug

block append variables
  - var bodyClass = 'bg-color-white'

block header
  include ../_component/site-header.pug
  
block content
  .container.py-3
    include ../_component/nav.pug

    h2.font-weight-light TYPOGRAPHY - LATO
    br
    h1 h1 Heading
    h2 h2 Heading
    h3 h3 Heading
    h4 h4 Heading
    h5 h5 Heading
    h6 h6 Heading
    p Reguler body copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat nisl sollicitudin elit interdum, id aliquam magna porta. Donec id diam eros. Praesent a libero eu est vulputate malesuada.
    small this is small text