/**
 *@name clamp
 *@desc truncate text base on height with fallbacks for non-webkit browser
 *@see https://codepen.io/martinwolf/pen/qlFdp
 */
@mixin clamp($font-size: 16px, $line-height: 1.4, $lines-to-show: 3) {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	// max-width: 400px;
	height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
	margin: 0 auto;
	font-size: $font-size;
	line-height: $line-height;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
