@mixin horizontal-scroll() {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch; // for safari
}

@each $points in $grid-breakpoints {
	@if nth($points, 1) == 'xs' {
		.horizontal-scroll {
			@include horizontal-scroll();
			[class^="col-"] {
				float: none;
				display: inline-block;
			}
		}
	} @else {
		@media screen and (min-width: #{nth($points, 2)}) {
			.horizontal-scroll\@#{nth($points, 1)} {
				@include horizontal-scroll();
				[class^="col-"] {
					float: none;
					display: inline-block;
				}
			}
		}

		@media screen and (max-width: #{nth($points, 2) - 1}) {
			.horizontal-scroll\@max-#{nth($points, 1)} {
				@include horizontal-scroll();
				[class^="col-"] {
					float: none;
					display: inline-block;
				}
			}
		}
	}
}
