.box {
	@include media-breakpoint-up(sm) {
		width: 215px;
	}
	@extend %effect-1;

	&--small {
		width: 124px;
	}
	&--no-shadow {
		box-shadow: none !important;
	}

	&--no-radius {
		border-radius: 0 !important;
	}
}

.box--color {
	@extend .box;
	border-radius: 8px;
	overflow: hidden;
	color: #fff;

	.color__shape {
		width: 100%;
		height: 60%;
		position: relative;
		height: 69px;

		.color__name {
			position: absolute;
			bottom: .5rem;
			left: 1rem;
		}
	}

	.color__code {
		padding: 8px 1rem;
		text-transform: uppercase;
		color: $g5;
		background-color: $white;
	}
}
