.btn {
	// remove box shadow on any state
	&:focus,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active:focus,
	&:not(:disabled):not(.disabled).active:focus {
		box-shadow: none;
	}
}

// add custom effect for .btn-primary
.btn-primary {
	&:hover {
		background-color: lighten($green, 5%);
		border-color: lighten($green, 5%);
	}

	&:focus,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active:focus,
	&:not(:disabled):not(.disabled).active:focus {
		background-color: lighten($green, 10%);
		border-color: lighten($green, 10%);
	}
}

// add custom effect for .btn-secondary
.btn-secondary {
	&:hover {
		background-color: lighten($gold, 5%);
		border-color: lighten($gold, 5%);
	}

	&:focus,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active:focus,
	&:not(:disabled):not(.disabled).active:focus {
		background-color: lighten($gold, 10%);
		border-color: lighten($gold, 10%);
	}
}

// add custom effect for .btn-dark
.btn-dark {
	&:hover {
		background-color: lighten($dark, 25%);
		border-color: lighten($dark, 25%);
	}

	&:focus,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active:focus,
	&:not(:disabled):not(.disabled).active:focus {
		background-color: lighten($dark, 50%);
		border-color: lighten($dark, 50%);
	}
}

// button as link (no border basically
.btn-link {
	color: $black;
	padding-left: 0;
	padding-right: 0;
	&:hover,
	&:focus,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active:focus,
	&:not(:disabled):not(.disabled).active:focus {
		color: $black;
	}

	&.addons:after,
	&.addons:before {
		color: $gold;
	}
}

.btn-circle {
	position: relative;
	background-color: $white;
	border-radius: 50%;
	@extend %effect-1;
	width: 60px;
	height: 60px;
	@include media-breakpoint-up(sm) {
		width: 80px;
		height: 80px;
	}
	> .centered {
		line-height: 1px;
		svg {
			width: 1.5em;
			height: 1.5em;

			@include media-breakpoint-up(sm) {
				width: 2em;
				height: 2em;
			}
		}
	}
}

.chat-btn {
	display: block;
	text-align: center;
	color: $black;
	width: 60px;
	@include media-breakpoint-up(sm) {
		width: 90px;
	}

	// states..
	&:hover {
		color: $black;
		text-decoration: none;
	}

	.label {
		padding-top: .5rem;
		white-space: normal;
		text-transform: uppercase;
		line-height: 1.38;
		font-size: 13px;
		font-weight: 700;
	}
}

/** BUTTONS WITH ICONS */
$sizes: ('xs': 12px, sm: 16px, 'md': 24px, 'lg': 48px);

@each $label, $size in $sizes {
	.ico-#{$label} {
		width: $size;
		height: $size;
	}
}

// button with icons is denoted by .addons class
.addons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		padding-right: .5rem;
		@include clamp(16px, 1.4, 1);
		margin: 0 !important;

		&.line-2 {
			@include clamp(16px, 1.4, 2);
		}
	}

	&.ico-sm svg {
		width: .7em;
	}

	&.ico-md svg {
		width: 1em;
	}

	&.ico-lg svg {
		width: 1.5em;
	}

	svg {
		width: 1em;
	}

	&.block-btn {
		min-width: 100%;
		justify-content: space-around;
	}

	&--reverse span {
		padding-right: 0;
		padding-left: .5rem;
	}

	&--fixed {
		@include media-breakpoint-up(sm) {
			max-width: 180px;
		}

		text-align: left;

		svg {
			width: 2.5em;
		}
	}
}

// if browser doesnt support flexbox
.no-flexbox .addons {
	position: relative;

	span {
		padding-right: 1.5rem;
	}

	svg {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-left: .5rem;
		margin-right: .5rem;
	}
}

/** UNUSED **/
$icons: ('arrow-right':'\e00e', 'arrow-left':'\e00d', 'download':'\e04e', 'plus': '\e0aa');
$directions: 'after', 'before';
// generate class for each icons with directions(:after/:before)
@each $label, $value in $icons {
	@each $direction in $directions {
		.ico-#{$label}\@#{$direction} {
			@if $direction == 'after' {
				text-align: left;
				// padding-right: 13px;
				padding-right: 2rem;
				// padding-right: 5%;
			} @else {
				text-align: right;
				// padding-left: 13px;
				padding-left: 2rem;
				// padding-left: 5%;
			}

			&:#{$direction} {
				font-size: .75rem;
				padding-top: 2px; // so its horizontally-aligned with the text
				@include open-iconic();
				content: $value;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				@if $direction == 'after' {
					// margin-right: 13px;
					right: 0;
					margin-right: .5rem;
					// margin-right: 5%;
				} @else {
					// margin-left: 13px;
					left: 0;
					margin-left: .5rem;
					// margin-left: 5%;
				}
			}
		}
	}
}
