.form-group {
	// local variables
	$borderColor: rgba(0, 0, 0, 0.1);
	$borderColorHighlight: rgba(0, 0, 0, 0.5);

	// wrapper for input and label
	.field {
		display: flex;
		flex-flow: column-reverse;
		position: relative;
	}
	label,
	input {
		transition: all 0.2s;
		touch-action: manipulation;
	}
	input.form-control {
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid $borderColor;
		padding-left: 0;
		color: $black;
		cursor: text;
		-webkit-appearance: none;
		background-color: transparent;
		transition: .2s;

		// input states
		&:focus,
		&:valid {
			box-shadow: none;
			outline: none;
			border-bottom: 1px solid $borderColorHighlight;
		}
	}

	// default states
	.form-control:-webkit-autofill + .form-control-placeholder,
	.form-control-placeholder {
		transform-origin: left bottom;
		transform: translate(0, 2.125rem);
		span {
			opacity: .6;
			font-size: 1rem;
		}
	}

	// placeholder behaviour in response to input states
	.form-control:focus + .form-control-placeholder,
	.form-control:valid + .form-control-placeholder,
	.form-control:-webkit-autofill + .form-control-placeholder {
		transform: translate(0, 0);
		cursor: pointer;
		span {
			opacity: 1;
			font-size: .8rem;
		}
	}

	// set default placeholder to transparent
	::-webkit-input-placeholder {
		color: transparent;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		color: transparent;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		color: transparent;
	}

	:-ms-input-placeholder {
		color: transparent;
	}
}

// if flexbox is not supported
.no-flexbox {
	.form-group {
		.field {
			display: block;
		}
		input.form-control {
			transform: translate(0, 2.125rem);

			& + .form-control-placeholder {
				transform: translate(0, 0);
				span {
					opacity: .6;
					font-size: 1rem;
				}
			}

			&:focus + .form-control-placeholder,
			&:valid + .form-control-placeholder {
				transform: translate(0, -2.125rem);
				span {
					opacity: 1;
					font-size: .8rem;
				}
			}
		}
	}
}

// if page background is gold, make sure input autofill is gold as well
body input.form-control:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px $white inset !important;
}
body.bg-color-gold input.form-control:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px $gold inset !important;
}
