%nodots {
	list-style: none;
}

.list {
	@extend %nodots;
}

.list-compact {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-flex;

	&-item > div {
		box-shadow: none;
		border: 1px solid $g1;

		&:hover {
			box-shadow: none;
			border-bottom: 0;
			box-shadow: $box-shadow-sm;
		}
	}

	&-item:not(:first-child):not(:last-child) > div {
		border-radius: 0 !important;
		border-left: 0;
		border-right: 0;
	}

	&-item:first-child > div {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-right: 0;
	}

	&-item:last-child > div {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		border-left: 0;
	}
}
