.pagination {
	.page-item {
		&.active {
			.page-link {
				background-color: transparent;
				border-color: transparent;
				color: $black;
				border-bottom: 2px solid $gold;
			}
		}
	}
	.page-item.page-item-nav {
		.page-link {
			background-color: $ash;
			border-radius: 20px;
			color: darken($ash, 40%);
			transition: .2s;
			box-shadow: $box-shadow-sm;
			padding-left: 1rem;
			padding-right: 1rem;
			&:hover {
				background-color: $gold;
			}
		}
	}
	.page-link {
		border-color: transparent;
		background-color: transparent;
		padding: .25rem .5rem;
		border-bottom: 2px solid transparent;
		margin-left: .5rem;
		margin-right: .5rem;
		&:hover {
			border-bottom: 2px solid $gold;
		}
	}
}
