.site-header {
	background-color: $gold;
	padding: .5rem 1rem;
	.site-nav {
		a {
			display: block;
			color: $black;

			&:hover {
				text-decoration: none;
			}
		}

		.nav-item {
			padding-left: .5rem;
			padding-right: .5rem;
		}
	}
}

.site-second-header {
	background-color: $g5;
}

.site-logo img {
	max-width: 120px;
	@include media-breakpoint-up(sm) {
		max-width: 200px;
	}
}
