block variables
  - var timestamp = Date.now()
  - var depth = (relativePath.match(/\//g) || []).length //- Count depth directory hierarchy
  - var relativeRoot = new Array(depth + 1).join( '../' )
  - var urlPath = new Array(depth).join('../');
  - var assetPath = (env == 'prod') ? relativeRoot + 'asset/' : '/asset/';
  - var bodyClass = '';
<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="base" href="./")
    title Gulp 4 Test
    link(rel="shortcut icon" type="image/png" href=assetPath + "img/favicon.png")

    block styles
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
      link(rel="stylesheet", type="text/css", href=assetPath + "style/app.css")
      //- link(rel="stylesheet", type="text/css", href=assetPath + "style/open-iconic.css")

body(class=bodyClass)
  block header
    if (debug == true)
      div Current Env is #{env}
      div current Path is #{ (urlPath) ? urlPath : '/'}

  block content
    | dwadwad
  block footer
  block scripts
    script(src=assetPath + "js/app.js")